/* General Styles */
:root{
    --primary-color: #6A0000; /* Dark Red */
    --secondary-color: #FFEAE5; /* Light Cream */
    --background-color: #1c1c1c; /* Dark Background */
    --text-color: #FFEAE5; /* Light Text */
    --font-family: 'Poppins', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font: 10px;
    height: 100vh;
}

.container {
    position: relative;
    padding-left: clamp(2rem, 5vw, 2rem);
    box-sizing: border-box;
    padding-right: clamp(1rem, 5vw, 2rem);
    padding-top: clamp(1rem, 20vw, 7rem);
    margin-bottom: 100px;
    padding-bottom: 100px;

}

h1{
    
    font-size: clamp(4rem, 18svw, 20rem);
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

h2{
    font-size: clamp(2rem, 15vw, 7rem);
    font-weight: bold;
    padding: 0;
    margin: 0;
}

h2::after{
    content: '';
    display: block;
    width: 40%;
    height: 1px;
    background-color: var(--text-color);
    margin-top: 10px;
}

h3{
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 100;
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding: 0;
    margin: 0;
}

.intro h1{
    
    margin-bottom: clamp(1rem,3vh,30rem) ;
}

.intro p{
    
    margin-bottom: clamp(1rem,30vw,7rem) ;
}

.about h2{
    margin-bottom: clamp(1rem, 10vw, 5rem);
    
}

.about p{
    width: clamp(1rem,60vw,40rem)
}

.projects{
    display: flex;
    
    
    justify-content: center;
}


.red-grid-cont{
    z-index: -2;
    position: absolute;
}

.red-grid{
    position: absolute;
    z-index: -3;
    background-image:url('assets/grid.png');
    background-size: 3.5rem 3.5rem;
    width: 100%;height: 100%;
}

.red-grid-mask{
    position: absolute;
    z-index: -1;
    width: 100%;height: 100%;
    background-image: radial-gradient(transparent,#1c1c1c);
}

.red-grid-cont-1{
    height: clamp(10rem, 70vh, 100rem);
    width: clamp(10rem, 80vw, 100rem);
    top: 10px;    
    right: 10px;
}

.red-grid-cont-2{
    height: clamp(10rem, 80vh, 100rem);
    width: clamp(10rem, 50vw, 100rem);
    top: 80vh;    
    left: 10px;
}


.red-rect{
    background-color: #550000;
    z-index: -1;
}


.red-1{
    width: clamp(2rem,75vw,60rem);
    height: clamp(2rem,40vw,20rem);
    position: absolute;
    right: 1rem;
    top: 3.5rem;
    
}

.red-2{
    width: clamp(2rem,40vw,60rem);
    height: clamp(2rem,40vw,20rem);
    position: absolute;
    left: -0;
    top: 25rem;
}